
<h1>123123</h1>
<ul>
  <li *ngFor="let car of cars">
    <span>Id: {{car.id}} Name: {{car.name}}</span>
  </li>
</ul>

<ul>
  <li *ngFor="let car of carNames">
    <span>{{car}}</span>
  </li>
</ul>

